<mat-toolbar color="primary" class="mat-elevation-z10">
  <mat-toolbar-row>
    <img
      height="55"
      width="55"
      src="assets/logo.png"
      style="margin: -10px 10px;"
    />
    <h1 fxFlexAlign="center">{{ "Rafael Bortolini" | uppercase }}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/">Curr&iacute;culo</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/about">Sobre</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
